{% macro generate_generic_vms(virtual_machines, image_name) -%}
{% for name, configs in virtual_machines.items() -%}
    config.vm.define "{{ name }}" do | v |
        v.vm.box = "{{ image_name }}"
        v.vm.network "private_network", ip: "{{ configs['public_ip'] }}"
        v.vm.hostname = "{{ configs['name'] }}"
    end
{% endfor %}
{% endmacro %}

Vagrant.configure("2") do |config|
    config.ssh.insert_key = false
    config.ssh.forward_agent = true

    config.vm.provider "virtualbox" do |v|
        v.memory = {{ mem_size }}
        v.cpus = {{ cpu_count }}
    end

    config.vm.boot_timeout = 600

{% if vms is defined and image_name is defined %}
    {{ generate_generic_vms(vms, image_name) }}
{% endif %}

end
